# CIDRAM .gitattributes file.
# CIDRAM repository can be found here:
# https://github.com/CIDRAM/CIDRAM/

# Refer to:
# https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf
*.gif binary
*.jpg binary
*.png binary

# Refer to:
# https://github.com/github/linguist

*.md linguist-documentation
*.txt linguist-documentation

.github/* -linguist-detectable
vault/* linguist-detectable
vault/signatures/* -linguist-detectable
