# CIDRAM .gitattributes file.
# CIDRAM repository can be found here:
# https://github.com/CIDRAM/CIDRAM/

# Refer to:
# https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf
*.gif binary
*.jpg binary
*.png binary

# Refer to:
# https://github.com/github/linguist

*.md linguist-documentation
*.txt linguist-documentation

.github/* -linguist-detectable
vault/* linguist-detectable
vault/signatures/* -linguist-detectable

# Stuff not needed for dist installs. Refer to:
# https://git-scm.com/docs/gitattributes#_creating_an_archive
# https://getcomposer.org/doc/06-config.md#preferred-install

/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/tests export-ignore
