# IPTestScript .gitattributes file.
# IPTestScript repository can be found here:
# https://github.com/Maikuolan/IPTestScript/

# Written based on the .gitattributes guide available from:
# https://help.github.com/articles/dealing-with-line-endings/

* text eol=lf
*.ini text eol=crlf
