:root{scroll-behavior:smooth;color-scheme:dark{theme_mode_effects}}
*{vertical-align:text-top}
@media screen and (prefers-reduced-motion: reduce) {
  :root{scroll-behavior:auto}
}
.scrollTrans{transition:all .5s ease-in-out}
body,input,select,textarea{max-width:100%;font-size:calc((12px * {magnification}) + .03vw)}
body{font-family:'Tahoma','Verdana','Noto Sans','Arial';letter-spacing:calc((1px * {magnification}) * 1.3);text-decoration:none;border-style:none;margin:0;white-space:normal;background-color:#36393b;color:#c5bc8e;background-image:url('?cidram-asset=moon.jpg&theme={theme}');background-repeat:no-repeat;background-attachment:fixed;background-position:center center}
hr{border-style:solid none none;border-width:1px;margin:5px 2px 0;padding:2px;color:#aaa}
img.ico{width:16px;height:16px;border:0}
input[type=file]{margin:0;padding:0;border:none;background:none;width:auto}
input,input[type=file]::file-selector-button,select,option,textarea{background-color:rgba(54,57,59,.7);border:1px solid #aaa;color:#c5bc8e;margin:2px;padding:2px;transition:all .3s ease-out}
input,select{width:150px;background-repeat:no-repeat;background-position:top {FE_Align_Reverse}}
input[type=submit]:not(.auto),input[type=button]:not(.auto){width:auto;min-width:min(150px,25%)}
input.auto,input[type=file]::file-selector-button,select.auto{width:auto;padding-left:10px;padding-right:10px}
input[type=image]{width:inherit;border:inherit}
input[type=password]{background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_key_silver.gif}{/Base64Encode})}
input[type=text]{background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_silver.gif}{/Base64Encode})}
input[type=text][pattern]:valid:not(input[type=text]:placeholder-shown){background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_silver_valid.gif}{/Base64Encode})}
input[type=text][pattern]:invalid:not(input[type=text]:placeholder-shown){background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_silver_invalid.gif}{/Base64Encode})}
input,select,option{border-radius:0}
input[type=button],input[type=file]::file-selector-button,input[type=submit],input[type=reset]{border-radius:18px}
select,option,input,textarea{filter:grayscale(.1) brightness(.94)}
select:active,textarea:active:not([readonly]),input:active{filter:grayscale(0) brightness(1)}
select:disabled,textarea:disabled,input:disabled{filter:grayscale(1) brightness(.5)}
select:focus,textarea:focus,input:focus,select:hover,textarea:hover:not([readonly]),input:hover{filter:grayscale(0) brightness(1.5)}
.headbox,.mainbox{display:flex;flex-direction:column;gap:0;width:100%;justify-content:center;align-items:start}
.footbox{display:flex;flex-direction:row;gap:auto;flex-basis:100%;justify-content:center;align-items:stretch}
.mainbox{gap:24px}
.start{text-align:{FE_Align};justify-self:start;flex-shrink:1;flex-grow:2}
.end{text-align:{FE_Align_Reverse};justify-self:end;flex-shrink:2;flex-grow:1}
.headbox>.start,.headbox>.end{flex-basis:100%;text-align:center;justify-self:stretch;align-self:stretch}
.headbox>.end{border:0;border-top:1px solid #aaa}
.footbox{white-space:nowrap}
.footbox>.start,.footbox>.end{flex-basis:50%}
nav{display:flex;flex-direction:column;gap:0;justify-content:center;align-items:center;align-self:stretch;border-style:none none solid;border-width:1px;border-color:#aaa}
nav:lang(ja){letter-spacing:-1px}
nav a{display:inline}
nav .ng1,nav .ng2{text-align:center}
.subNav,nav .big,.idx,.mob,.sHide,input[type=hidden],script{display:none}
main{align-self:stretch}
.spanner,.flexstretch,.logVis{align-self:stretch}
textarea{height:150px}
textarea.half{height:75px}
textarea#efta,textarea#logsTA{height:375px}
input.txtf{width:calc(100% - 4px)}
textarea{width:calc(100% - 10px)}
.iCntr>.iCntn>textarea{width:calc(100% - 52px)}
li>.iCntr>.iCntn>textarea{width:calc(100% - 92px)}
a,.pseudolink{text-decoration:underline}
a:link,a:visited,.pseudolink{color:#eee6ab}
a:hover,a:active,a:focus,.pseudolink:hover,.pseudolink:active,.pseudolink:focus{color:#fff7bc}
.headbox,.footbox,.cat,.exp,nav,.s,.txtGn,.txtOe,.txtRd,.spanner,a,input,input[type=file]::file-selector-button,select,textarea,.vrte,.vrto,dt,dd code{font-weight:700}
.ci,.co,.center{margin:auto}
.ci,.co,.ng1:not(nav .ng1,.quad .ng1,.duo .ng1,.col .ng1,nav .ng1),.ng2:not(nav .ng2,.quad .ng2,.duo .ng2,.col .ng2,nav .ng2){width:calc(100% - 32px)}
.ci{background-color:rgba(69,84,75,.5);border-style:solid;border-width:1px;border-color:#aaa;text-align:{FE_Align};border-top-{FE_Align_Reverse}-radius:24px;padding:12px}
.co,body,.center{text-align:center}
.co,body{padding:0}
.s,.txtBl,.txtGn,.txtOe,.txtRd,.inline{display:inline}
.spanner{text-align:{FE_Align_Reverse}}
.footbox,input,select,textarea{font-family:'Verdana','Arial','Helvetica'}
.h1,.h1f,.h2,.h2f,.h3,.h3f,.h4,.h4f,.ng1:not(nav .ng1),.ng2:not(nav .ng2),.r,.rf,.spanner{margin:0;padding:4px;border-style:{Half_Border};border-width:1px;border-color:#999}
td.h1,td.h1f,td.h2,td.h2f,td.r,td.rf{width:25%}
.h1,.h3,.spanner{background-color:rgba(103,106,109,.5)}
.h2,.h4,code{background-color:rgba(86,89,92,.5)}
td.h3,td.h3f,td.h4,td.h4f{width:50%}
code,nav,.headbox,.footbox{font-family:'Courier New','Courier','Arial';font-size:calc((14px * {magnification}) + .03vw);letter-spacing:0}
.ng1:not(nav .ng1),.h1f,.h3f{background:linear-gradient({90deg},rgba(103,106,109,.5),#555)}
.ng2:not(nav .ng2),.h2f,.h4f{background:linear-gradient({90deg},rgba(86,89,92,.5),#444)}
.hFd:hover,.r{background-color:rgba(120,89,92,.5)}
.rf{background:linear-gradient({90deg},rgba(120,89,92,.5),#644)}
.branchline{border-style:none none solid none;border-width:1px;border-color:#aaa}
.txtGn{color:#b4de7d}
.txtOe{color:#e7de6c}
.txtRd{color:#e7ab7d}
.ufts{width:220px}
.normalHeight{line-height:100%}
@media only all and (max-width:230px) {
  .ufts{width:calc(100% - 10px)}
}
@keyframes idxAn{0%{background:rgba(120,89,92,.5)}100%{background:rgba(86,89,92,.5)}}
@keyframes xAux{0%{opacity:0}100%{opacity:1}}
@keyframes rAux{0%{background:rgba(255,0,0,.7)}100%{background:rgba(255,0,0,0)}}
.inv{opacity:0}
input#logoutbutton{border-top-{FE_Align}-radius:0;border-bottom-{FE_Align}-radius:0;padding-{FE_Align}:18px;margin-{FE_Align}:-1px;background-position:top 1px {FE_Align} 4px,top 1px {FE_Align} 4px;background-image:url(data:image/png;base64,{Base64Encode}{Asset:lock_wt_o.png}{/Base64Encode}),url(data:image/png;base64,{Base64Encode}{Asset:lock_wt_c.png}{/Base64Encode})}
input#logoutbutton:hover,input#logoutbutton:active,input#logoutbutton:focus{background-position:top 3px {FE_Align} 4px,top 1px {FE_Align} 4px}
input#homebutton{border-top-{FE_Align_Reverse}-radius:0;border-bottom-{FE_Align_Reverse}-radius:0;margin-{FE_Align_Reverse}:0}
.textLabel{color:#eee6ab;white-space:pre}
.f400{width:400px}
@media only all and (max-width:410px) {
  .f400{width:calc(100% - 10px)}
}
.f500{width:500px}
@media only all and (max-width:510px) {
  .f500{width:calc(100% - 10px)}
}
.flong{width:auto}
.h1f,.h2f,.h3f,.h4f,.rf{white-space:nowrap}
.iCntr,.iLabl,.iCntn{display:block}
.iCntr{margin:16px 0 16px 0}
.iCntn{margin-{FE_Align}:42px}
@media only all and (max-width:968px) {
  nav{display:flex;flex-direction:column;gap:2px;justify-content:start;align-items:start;flex-basis:100%;width:1fr}
  .extend{flex-basis:100%}
  .headbox,.mainbox,.footbox{flex-direction:column;height:auto}
  .footbox>.start{display:none}
  .footbox>.end{text-align:center;justify-self:stretch;flex-basis:100%}
  .big{display:none}
  .mob{display:block}
  td.h1,td.h1f,td.h2,td.h2f,td.r,td.rf{width:50%}
  .flong{width:calc(100% - 10px)}
  .iCntn{margin:0}
  nav{border-style:none}
}
.hB{background-color:rgba(0,0,0,.125)}
.hW{background-color:rgba(255,255,255,.125)}
.fW{word-break:break-all}
.exp{color:#ff0;background-color:#f00}
.pieul{list-style-type:none;margin:0;padding:0}
li>span.comCat:first-child,input[type=button],input[type=file]::file-selector-button,input[type=checkbox],input[type=checkbox]+label,input[type=radio],input[type=radio]+label,input[type=reset],input[type=submit],span>span[onclick],li>span[onclick],.navicon[onclick],.gridboxitem>label,.gridboxitem input+strong,.pseudolink,.auxSuggestLink,.fmOptions>code{cursor:pointer}
.comCat::before,.showlink::before,.shownlink::before,.unshownlink::before{content:"";width:16px;height:16px;background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:caret.svg}{/Base64Encode});background-repeat:no-repeat;background-position:center;position:relative;top:2px;display:inline-block;margin-{FE_Align_Reverse}:6px;line-height:100%;cursor:pointer}
.caret-down::before{animation:forRotate .3s ease-in 1;animation-fill-mode:both}
.caret-up::before{animation:revRotate .5s linear 1;animation-fill-mode:both}
.suggestsInactive,.comSub{overflow:hidden;transform:scaleY(0);transform-origin:top;opacity:0;max-height:0;transition:all .5s ease-out}
.active{transform:scaleY(1);transform-origin:top;opacity:1;max-height:99999px;transition:all .3s ease-in}
.suggestsActive{transform:scaleY(1);font-style:italic;font-weight:700;transform-origin:top;opacity:1;max-height:64px;transition:all .3s ease-in}
blockquote.comSub{margin:-2px 0 0 0;padding:0 0 0 0}
@keyframes forRotate{0%{{caretTransformBefore} invert(79%) sepia(28%) saturate(328%) hue-rotate(13deg) brightness(90%) contrast(89%)}100%{{caretTransformAfter} invert(79%) sepia(28%) saturate(328%) hue-rotate(13deg) brightness(90%) contrast(89%)}}
@keyframes revRotate{0%{{caretTransformAfter} invert(79%) sepia(28%) saturate(328%) hue-rotate(13deg) brightness(90%) contrast(89%)}100%{{caretTransformBefore} invert(79%) sepia(28%) saturate(328%) hue-rotate(13deg) brightness(90%) contrast(89%)}}
select+input[type=submit],select+input[type=button],input+.attachedButton{height:20px;margin-{FE_Align}:-3px;border-bottom-{FE_Align}-radius:0;border-top-{FE_Align}-radius:0;padding-{FE_Align}:3px}
select,input[type=submit],input[type=reset],input[type=button],input[type=file]::file-selector-button,input[type=text],input[type=password],input[type=number],input[type=date],input[type=time],input[type=datetime-local],button{box-sizing:border-box;height:20px;padding-top:0;padding-bottom:0}
select[class=auto]+select[class=auto]{margin-{FE_Align}:-3px;margin-{FE_Align_Reverse}:0}
#pgrad{width:16px;height:16px;display:inline-block;border-radius:16px;filter:blur(2px)}
.statGroup{display:inline-block;height:18px}
.gridHA:not(.gridVA,.gridVB,.gridboxstretch),.gridHB:not(.gridVA,.gridVB,.gridboxstretch){white-space:nowrap}
.configMatrixLabel,.vrte,.gridboxcheckcell{text-align:center}
.gridboxitem,.gridboxcheckcell{min-height:19px}
.gridboxstretch{height:100%;white-space:normal}
.configMatrixLabel{height:auto;line-height:19px;font-weight:700}
.gridboxcheckcell{margin:0;padding:auto}
.gridboxcheckcell>input[type=checkbox],.gridboxcheckcell>input[type=radio],.gridlabel>input[type=checkbox],.gridlabel>input[type=radio]{position:relative;top:1px}
.gridlabel{display:block;height:100%;width:100%}
.gridlabel:hover{background-color:rgba(255,255,255,.25);filter:brightness(1.25)}
.gridHA.vrte,.gridHA:not(.gridVA,.gridVB,.vrto){background:linear-gradient({90deg},rgba(0,0,0,.125) 0 40%,rgba(0,0,0,0) 80%)}
.gridHA.vrto{background:linear-gradient({90deg},rgba(0,0,0,.125) 0 25%,rgba(0,0,0,0) 50%)}
.gridHA.gridVA{background-color:rgba(0,0,0,.125)}
.gridHA.gridVB{background-color:rgba(127,110,85,.3)}
.gridVB:not(.gridHA){background-color:rgba(251,191,127,.35)}
.configMatrixLabel.gridVB,dd code{background:linear-gradient(0deg,rgba(251,191,127,.35),rgba(0,0,0,0))}
.warning::before,.warning::after{content:"⚠️";font-size:24px;display:inline;line-height:100%;position:relative;top:2px}
.warning{display:inline-block;margin:4px;font-weight:700;color:#e7ab7d;background:linear-gradient({90deg},rgba(128,92,0,0) 0,rgba(128,92,0,.8) 20% 80%,rgba(128,92,0,0) 100%);line-height:100%}
.gridlabel,.detailedSvgIcon{transition:all .2s ease-out}
.detailedSvgIcon{width:18px;height:19px}
.detailedSvgIcon,.translateIcon{transform:translate3d(-1px,-3px,-1px)}
.detailedSvgIcon:hover{filter:brightness(1.7) contrast(.8);cursor:pointer}
@keyframes sFadeFrames{0%{opacity:1}100%{opacity:0}}
.sFade{display:inline-block;margin-{FE_Align}:4px;animation:sFadeFrames .5s linear 1;animation-fill-mode:both}
.shownlink::before{animation:forRotate .5s ease-in 1;animation-fill-mode:both}
.unshownlink::before{animation:revRotate .5s linear 1;animation-fill-mode:both}
.fBlur{filter:contrast(.8) blur(.5px);transition:all .3s ease-out}
.fBlur:hover,.fBlur:active{filter:contrast(1) blur(0)}
input[type=button].reset{background:none;cursor:pointer;border:none;padding:0 12px 0 12px;margin:0;width:auto;color:#e7ab7d}
input[type=button].reset:hover,input[type=button].reset:active{color:#fcefcf}
.hiddenInitPos{display:inline-block;overflow:hidden;transform:scaleX(0);transform-origin:{FE_Align};opacity:0;max-width:0;max-height:16px;transition:all .9s ease-out}
.hiddenOpenPos{transform:scaleX(1);opacity:1;max-width:100%}
.heavenInitPos{display:inline-block;overflow:hidden;transform:none;width:16px;height:16px;transition:all .9s cubic-bezier(0,0,.1,1)}
.heavenOpenPos{transform:rotate(-270deg)}
.fmicon.archive{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:archive.svg}{/Base64Encode})}
.fmicon.audio{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:audio.svg}{/Base64Encode})}
.fmicon.card{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:card.svg}{/Base64Encode})}
.fmicon.database{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:database.svg}{/Base64Encode})}
.fmicon.encrypted{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:encrypted.svg}{/Base64Encode})}
.fmicon.executable{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:executable.svg}{/Base64Encode})}
.fmicon.font{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:font.svg}{/Base64Encode})}
.fmicon.formulas{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:formulas.svg}{/Base64Encode})}
.fmicon.graphics{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:graphics.svg}{/Base64Encode})}
.fmicon.models{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:models.svg}{/Base64Encode})}
.fmicon.othernoedit{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:othernoedit.svg}{/Base64Encode})}
.fmicon.presentation{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:presentation.svg}{/Base64Encode})}
.fmicon.quarantine{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:quarantine.svg}{/Base64Encode})}
.fmicon.spreadsheet{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:spreadsheet.svg}{/Base64Encode})}
.fmicon.torrent{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:torrent.svg}{/Base64Encode})}
.navicon.accounts{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:accounts.svg}{/Base64Encode})}
.navicon.aggregator{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:aggregator.svg}{/Base64Encode})}
.navicon.auxiliary,.bckpicon.auxiliary,.fmicon.auxiliary{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxiliary.svg}{/Base64Encode})}
.navicon.backup{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:backup.svg}{/Base64Encode})}
.navicon.cache,.fmicon.cache{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:cache.svg}{/Base64Encode})}
.navicon.calculator{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:calculator.svg}{/Base64Encode})}
.navicon.clipboard{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:clipboard.svg}{/Base64Encode})}
.navicon.configuration,.bckpicon.configuration{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:configuration.svg}{/Base64Encode})}
.fmicon.configuration{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:configuration.svg}{/Base64Encode}),url(data:image/svg+xml;base64,{Base64Encode}{Asset:blankport.svg}{/Base64Encode})}
.navicon.discussions{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:discussions.svg}{/Base64Encode})}
.navicon.documentation,.fmicon.documentation{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:documentation.svg}{/Base64Encode})}
.navicon.fixer{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:fixer.svg}{/Base64Encode})}
.navicon.folder,.fmicon.folder{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:folder.svg}{/Base64Encode})}
.navicon.glossary{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:glossary.svg}{/Base64Encode})}
.navicon.heaven{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:heaven.svg}{/Base64Encode})}
.navicon.home{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:home.svg}{/Base64Encode})}
.navicon.intersector{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:intersector.svg}{/Base64Encode})}
.navicon.link,.fmicon.link{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:link.svg}{/Base64Encode})}
.navicon.logs,.bckpicon.logs,.fmicon.logs{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:logs.svg}{/Base64Encode})}
.navicon.range{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:range.svg}{/Base64Encode})}
.navicon.rl{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:rl.svg}{/Base64Encode})}
.navicon.sections{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:sections.svg}{/Base64Encode})}
.navicon.statistics,.bckpicon.statistics{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:statistics.svg}{/Base64Encode})}
.navicon.subtractor{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:subtractor.svg}{/Base64Encode})}
.navicon.test{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:test.svg}{/Base64Encode})}
.navicon.tracking,.bckpicon.tracking{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:tracking.svg}{/Base64Encode})}
.navicon.updates,.bckpicon.updates{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:updates.svg}{/Base64Encode})}
.fmicon.updates{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:updates.svg}{/Base64Encode}),url(data:image/svg+xml;base64,{Base64Encode}{Asset:blankport.svg}{/Base64Encode})}
.navicon.download{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:download.svg}{/Base64Encode})}
::selection{background-color:rgba(204,102,102,.5);color:#fff}
.txtGn::selection,.txtGn>*:not(.txtOe,.txtRd)::selection{color:#dfc}
.txtOe::selection,.txtOe>*:not(.txtGn,.txtRd)::selection{color:#fec}
.txtRd::selection,.txtRd>*:not(.txtGn,.txtOe)::selection{color:#fcc}
.canBreak{white-space:normal;overflow-wrap:break-word;word-break:break-all}
input[disabled],input[disabled]+label{cursor:not-allowed}
.toolTip{cursor:help}
.flexrow{display:flex;flex-direction:row}
.flexin{margin-{FE_Align}:-1px;margin-{FE_Align_Reverse}:1px;width:auto;flex-grow:1}
.auxicon{display:inline-block;background-repeat:no-repeat;position:relative;top:1px;width:12px;height:12px}
.bckpicon,.fmicon{display:inline-block;background-repeat:no-repeat;width:16px;height:16px}
.auxbl,.hoverglow,.navicon,.comCat::before,.showlink::before,.shownlink::before,.unshownlink::before{display:inline-block;background-repeat:no-repeat;filter:invert(79%) sepia(28%) saturate(328%) hue-rotate(13deg) brightness(90%) contrast(89%);position:relative;top:1px;width:16px;height:16px}
.hoverglow:hover,.hoverglow:active,.hoverglow:focus,a:hover>.navicon,a:active>.navicon,a:focus>.navicon,.navicon[onclick]:hover,.navicon[onclick]:active,.navicon[onclick]:focus{filter:invert(93%) sepia(7%) saturate(1611%) hue-rotate(-15deg) brightness(105%) contrast(103%)}
nav a .navicon{position:relative;top:-1px}
.auxgn{filter:invert(91%) sepia(88%) saturate(358%) hue-rotate(26deg) brightness(89%) contrast(94%)}
.auxrd{filter:invert(90%) sepia(63%) saturate(4751%) hue-rotate(-59deg) brightness(96%) contrast(87%)}
.xscroller{overflow-x:auto}
.auxicon.delete{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxdelete.svg}{/Base64Encode})}
.auxicon.down1{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxdown1.svg}{/Base64Encode})}
.auxicon.down2{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxdown2.svg}{/Base64Encode})}
.auxicon.download{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:downloadfm.svg}{/Base64Encode})}
.auxicon.edit{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:edit.svg}{/Base64Encode})}
.auxicon.duplicate{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:duplicate.svg}{/Base64Encode})}
.auxicon.export{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxexport.svg}{/Base64Encode})}
.auxicon.pause{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxpause.svg}{/Base64Encode})}
.auxicon.play{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxplay.svg}{/Base64Encode})}
.auxicon.rename{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:rename.svg}{/Base64Encode})}
.auxicon.up1{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxup1.svg}{/Base64Encode})}
.auxicon.up2{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxup2.svg}{/Base64Encode})}
.auxicontxt,.fmicontxt{padding:0 1px 0 1px}
.bckpicon.auxiliary{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxiliary.svg}{/Base64Encode})}
.bckpicon.auxpausebig{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxpausebig.svg}{/Base64Encode})}
.bckpicon.compress{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:compress.svg}{/Base64Encode})}
.bckpicon.configuration{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:configuration.svg}{/Base64Encode})}
.bckpicon.disabledoverlay{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:disabledoverlay.svg}{/Base64Encode});position:relative;inset:-16px 0;opacity:.8}
.bckpicon.email,.fmicon.email{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:email.svg}{/Base64Encode})}
.bckpicon.export{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:export.svg}{/Base64Encode})}
.bckpicon.import{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:import.svg}{/Base64Encode})}
.bckpicon.logs{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:logs.svg}{/Base64Encode})}
.bckpicon.statistics{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:statistics.svg}{/Base64Encode})}
.bckpicon.statistics{position:relative;top:-1px}
.bckpicon.tracking{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:tracking.svg}{/Base64Encode})}
.bckpicon.updates{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:updates.svg}{/Base64Encode})}
.rulePseudoPos{display:block;height:0px;width:100%;transform:scaleY(0);transition:all .5s ease-in-out;font-size:calc((10px * {magnification}) + .03vw);font-weight:700}
.rulePseudoPosActive{background-color:rgba(192,128,0,.2);height:16px;transform:scaleY(1)}
.clipMar{display:block;margin:16px}
.inlineBlock{display:inline-block;position:relative;top:3px}
.capitalize{text-transform:capitalize}
.origin{font-size:calc((9px * {magnification}) + .03vw);background:#00f;color:#fff{theme_mode_effects};padding:0 1px 0 1px;position:relative;top:2px;border-radius:3px;opacity:0.6}
.origin.bgBlk{background:#000}
.origin.bgBlu{background:#00f}
.origin.bgGrn{background:#060}
.origin.bgHBlRd{background:linear-gradient(to right,#00f 30%,#f00 70%)}
.origin.bgHGnOe{background:linear-gradient(to right,#060 30%,#f80 70%)}
.origin.bgHRdBl{background:linear-gradient(to right,#f00 30%,#00f 70%)}
.origin.bgRed{background:#f00}
.origin.bgVBkRd{background:linear-gradient(#000 30%,#f00 70%)}
.origin.bgVBlRd{background:linear-gradient(#00f 30%,#f00 70%)}
.origin.bgVOeGn{background:linear-gradient(#f80 30%,#060 70%)}
.origin.bgVRdBl{background:linear-gradient(#f00 30%,#00f 70%)}
.origin.bgWht{background:#fff}
.origin.fgRed{color:#f00}
.origin.fgYlw{color:#ff0}
input[type=checkbox],input[type=radio]{accent-color:#cca}
.clockBlock{user-select:none;display:inline-block;width:16px;height:16px;transition:none}
.clockHours{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:clockhours.svg}{/Base64Encode});position:relative;inset:0 0}
.clockMinutes{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:clockminutes.svg}{/Base64Encode});position:relative;inset:0 -16px}
.clockSeconds{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:clockseconds.svg}{/Base64Encode});position:relative;inset:0 -32px}
.clockFace{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:clockface.svg}{/Base64Encode});position:relative;inset:0 -48px}
.col{display:flex;flex-direction:column;gap:2px;justify-content:start;align-items:start;flex-basis:100%;width:1fr}
.col>.col{width:100%}
.col>.ng1,.col>.ng2,nav>.ng1,nav>.ng2,.flexstretch:not(.col>.flexstretch),.spanner:not(.col>.spanner){width:calc(100% - 10px)}
.configInitPos{transform:scaleY(0);transform-origin:top center;opacity:0;max-height:0;margin-top:-2px}
.configOpenPos{transform:scaleY(1);transform-origin:top center;opacity:1;max-height:auto}
.col>form,.quad>form,.duo>form,.spanner>form{display:contents}
.logVis{overflow:visible auto}
textarea#logsTA{margin:0;width:auto;align-self:stretch}
.quad{display:grid;gap:2px;grid-template-columns:repeat(4,1fr);justify-content:stretch;justify-items:stretch}
.duo{display:grid;gap:2px;grid-template-columns:1fr 1fr;justify-content:stretch;justify-items:stretch}
.col+.col,.col+.quad,.col+.duo,.quad+.col,.quad+.quad,.quad+.duo,.duo+.col,.duo+.quad,.duo+.duo{margin-top:2px}
@media only all and (max-width:968px) {
  .quad:not(.accquad){grid-template-columns:1fr 1fr}
  .quad.accquad{grid-template-columns:1fr}
}
@keyframes fmDeleteAnim{0%{opacity:1}100%{filter:brightness(0);opacity:0;display:none}}
.fmDelete{transform-origin:top;animation:fmDeleteAnim .5s cubic-bezier(0,0,.1,1);animation-iteration-count:1;animation-fill-mode:forwards}
.reverse{text-align:{FE_Align_Reverse}}
.stickybox .pieul li{list-style-type:none}
.gridboxitem,.gridboxcheckcell,.gridboxstretch,.va{align-content:center}
.louter{width:min(150px,23dvw)}
input[type=submit].linner,input[type=number].linner,select.linner{width:100%}
.navicon.pointer{user-select:none;background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:pointerhead.svg}{/Base64Encode}),url(data:image/svg+xml;base64,{Base64Encode}{Asset:pointertail.svg}{/Base64Encode});transition:all .9s cubic-bezier(0,0,.1,1)}
.navicon.pointer.up{background-position:0 -3px,0 3px}
.navicon.pointer.down{background-position:0 3px,0 -3px}
.navicon.pointer.neutral{background-position:0 0,0 0}
.emsep{white-space:pre}
.brsep{display:none}
@media only all and (min-width:969px) and (max-width:1776px), all and (max-width:792px) {
  .emsep{display:none}
  .brsep{display:inline}
}
@media only all and (max-width:1776px) {
  .duo.fmctrl{grid-template-columns:100%}
}
.navicon.dspCtrl,.navicon.switchCtrl{user-select:none;background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:pointerhead.svg}{/Base64Encode}),url(data:image/svg+xml;base64,{Base64Encode}{Asset:pointerhead.svg}{/Base64Encode}),url(data:image/svg+xml;base64,{Base64Encode}{Asset:pointerhead.svg}{/Base64Encode});transition:all .9s cubic-bezier(0,0,.1,1)}
.navicon.dspCtrl.stateA{background-position:-4.5px -5px,0 -5px,4.5px -5px;background-size:16px 24px,16px 24px,16px 24px}
.navicon.dspCtrl.stateR{background-position:-4.5px 0,0 0,4.5px -5px;background-size:16px 14px,16px 14px,16px 24px}
.navicon.dspCtrl.stateM{background-position:-4.5px 0,0 -5px,4.5px 0;background-size:16px 14px,16px 24px,16px 14px}
.navicon.dspCtrl.stateL{background-position:-4.5px -5px,0 0,4.5px 0;background-size:16px 24px,16px 14px,16px 14px}
.navicon.switchCtrl.swOp{background-position:-4.5px -5px,0 -1px,4.5px 3px;background-size:16px 24px,16px 16px,16px 8px}
.navicon.switchCtrl.swCl{background-position:-4.5px -5px,-4.5px -1px,-4.5px 3px;background-size:16px 24px,16px 16px,16px 8px}
.i12in16{position:relative;inset:2px 0}
.duo>.duo:hover>.h1.canHighlight,.duo>.duo:has(+.h1f.canHighlight:hover)>.h1.canHighlight,.quad>.h1.canHighlight:hover,.quad>.h1.canHighlight:hover+.h1.canHighlight,.quad>.h1.canHighlight:hover+.h1.canHighlight+.h1.canHighlight,.quad>.h1.canHighlight:has(+.h1.canHighlight:hover,+.h1.canHighlight+.h1.canHighlight:hover,+.h1.canHighlight+.h1.canHighlight+.h1f.canHighlight:hover,+.h1.canHighlight+.h1f.canHighlight:hover,+.h1f.canHighlight:hover){background-color:rgba(92,89,120,.5)}
.duo>.duo:hover+.h1f.canHighlight,.duo>.h1f.canHighlight:hover,.quad>.h1f.canHighlight:hover,.quad>.h1.canHighlight:hover+.h1f.canHighlight,.quad>.h1.canHighlight:hover+.h1.canHighlight+.h1f.canHighlight,.quad>.h1.canHighlight:hover+.h1.canHighlight+.h1.canHighlight+.h1f.canHighlight{background:linear-gradient({90deg},rgba(92,89,120,.5),#446)}
.fixComCatBtnVert{position:relative;top:3px}
input.clpbrdbtn{padding-{FE_Align}:21px;background-position:top 1px {FE_Align} 4px;background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:clipboard.svg}{/Base64Encode})}
.flagruby{font-size:55%;margin-top: -1em;background-color:rgba(103,106,109,.5);border-radius:4px}
