:root{color-scheme:light}
*{vertical-align:text-top}
body,input,select,textarea,.idx{font-size:calc((12px * {magnification}) + .03vw)}
body{font-family:'Tahoma','Verdana','Noto Sans','Arial';letter-spacing:1px;text-decoration:none;border-style:none;margin:0;white-space:normal;background-color:#ccc;color:#330}
code{vertical-align:0;display:inline-block;height:calc(1em + 2px)}
hr{border-style:solid none none;border-width:1px;margin:5px 2px 0;padding:2px;color:rgba(0,0,153,.2)}
img.ico{width:16px;height:16px;border:0}
input[type=file]{margin:0;padding:0;border:none;background:none;width:auto}
input,input[type=file]::file-selector-button,select,option,textarea{background-color:#eff;border:1px solid rgba(0,0,153,.2);color:#330;margin:2px;padding:2px}
input,select{width:150px;background-repeat:no-repeat;background-position:top {FE_Align_Reverse}}
input[type=submit]:not(.auto),input[type=button]:not(.auto){width:auto;min-width:150px}
input.auto,input[type=file]::file-selector-button,select.auto{width:auto;padding-left:10px;padding-right:10px}
input[type=image]{width:inherit;border:inherit}
input[type=password]{background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_key_red.gif}{/Base64Encode})}
input[type=text]{background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_red.gif}{/Base64Encode})}
input[type=text][pattern]:valid:not(input[type=text]:placeholder-shown){background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_red_valid.gif}{/Base64Encode})}
input[type=text][pattern]:invalid:not(input[type=text]:placeholder-shown){background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_red_invalid.gif}{/Base64Encode})}
input{border-radius:0}
input[type=button],input[type=file]::file-selector-button,input[type=submit],input[type=reset]{border-radius:18px;transition:all .3s ease-out}
select,option,input,textarea{filter:grayscale(.1) brightness(.94)}
select:active,textarea:active:not([readonly]),input:active{filter:grayscale(0) brightness(1)}
select:disabled,textarea:disabled,input:disabled{filter:grayscale(1) brightness(.5)}
select:focus,textarea:focus,input:focus,select:hover,textarea:hover:not([readonly]),input:hover{filter:grayscale(0) brightness(1)}
table{table-layout:fixed}
table,.spanner{width:100%}
textarea{height:150px}
textarea.half{height:75px}
input.txtf{width:calc(100% - 4px)}
textarea{width:calc(100% - 10px)}
.iCntr>.iCntn>textarea{width:calc(100% - 52px)}
li>.iCntr>.iCntn>textarea{width:calc(100% - 92px)}
a:link,a:visited{color:#832}
a:hover{color:#f64}
a:active,a:focus{color:red}
.bNav,.gen,.spanner{text-align:{FE_Align_Reverse}}
.bNav{height:64px}
.cat,.exp,.bNav,.gen,.nav,.s,.tip,.txtGn,.txtOe,.txtRd,.spanner,a,input,input[type=file]::file-selector-button,select,textarea{font-weight:700}
.ci,.co,.gen,.center{margin:auto}
.ci,.co,.ng1,.ng2{width:calc(100% - 32px)}
.idx{width:calc(100% - 10px)}
.ci{background-color:#fff;border-style:solid;border-width:1px;border-color:#aaa;text-align:{FE_Align};border-top-{FE_Align_Reverse}-radius:24px;padding:12px}
.co,body,.center{text-align:center}
.co,body{padding:0}
.dt,.s,.tip,.txtBl,.txtGn,.txtOe,.txtRd{display:inline}
.dt,.tip{float:{FE_Align};text-align:{FE_Align};width:80%}
.gen,input,select,textarea{font-family:'Verdana','Arial','Helvetica'}
.gen{letter-spacing:0;white-space:nowrap}
.h1,.h1f,.h2,.h2f,.h3,.h3f,.h4,.h4f,.ng1,.ng2,.r,.rf,.spanner{margin:0;padding:4px;border-style:{Half_Border};border-width:1px;border-color:#999}
.h1,.h1f,.h2,.h2f,.r,.rf{width:25%}
.h1,.h3,.spanner{background-color:#eee}
.h2,.h4,code{background-color:#ddd}
.h3,.h3f,.h4,.h4f{width:50%}
.nav{font-size:calc((14px * {magnification}) + .03vw);width:20%;letter-spacing:calc(1px + .03vw)}
.nav:lang(ja){letter-spacing:-1px}
.ng1,.h1f,.h3f{background:linear-gradient({90deg},#eee,#ccc)}
.ng2,.h2f,.h4f{background:linear-gradient({90deg},#ddd,#bbb)}
.hFd:hover,.r{background-color:#fda}
.rf{background:linear-gradient({90deg},#fda,#fa6)}
.right{padding:20px;width:80%}
.branchline{border-style:none none solid none;border-width:1px;border-color:rgba(0,0,153,.2)}
.txtBl{color:#000}
.txtGn{color:#090}
.txtOe{color:#f60}
.txtRd{color:red}
.ufts{width:220px}
.normalHeight{line-height:100%}
@media only all and (max-width:230px) {
  .ufts{width:calc(100% - 10px)}
}
.vr{float:{FE_Align};width:1px;height:inherit;background-color:rgba(0,0,153,.2)}
@keyframes idxAn{0%{background:#6af}100%{background:#ddd}}
@keyframes xAux{0%{opacity:0}100%{opacity:1}}
@keyframes rAux{0%{background:rgba(255,0,0,.7)}100%{background:rgba(255,0,0,0)}}
.inv{opacity:0}
.mob{display:none}
input[id=logoutbutton]{border-top-{FE_Align}-radius:0;border-bottom-{FE_Align}-radius:0;padding-{FE_Align}:18px;margin-{FE_Align}:-1px;background-position:top 1px {FE_Align} 4px,top 1px {FE_Align} 4px;background-image:url(data:image/png;base64,{Base64Encode}{Asset:lock_rd_o.png}{/Base64Encode}),url(data:image/png;base64,{Base64Encode}{Asset:lock_rd_c.png}{/Base64Encode})}
input[id=logoutbutton]:hover,input[id=logoutbutton]:active,input[id=logoutbutton]:focus{background-position:top 3px {FE_Align} 4px,top 1px {FE_Align} 4px}
input[id=homebutton]{border-top-{FE_Align_Reverse}-radius:0;border-bottom-{FE_Align_Reverse}-radius:0;margin-{FE_Align_Reverse}:0}
.textLabel{color:#664;white-space:pre}
.f400{width:400px}
@media only all and (max-width:410px) {
  .f400{width:calc(100% - 10px)}
}
.f500{width:500px}
@media only all and (max-width:510px) {
  .f500{width:calc(100% - 10px)}
}
.flong{width:auto}
.h1f,.h2f,.h3f,.h4f,.rf{white-space:nowrap}
@media only all and (max-width:968px) {
  .big,.dt{display:none}
  .mob{display:block}
  .tip,.bNav,.gen{float:none;height:auto;text-align:center}
  .h1,.h1f,.h2,.h2f,.r,.rf{width:50%}
  .extend{width:100%}
  .flong{width:calc(100% - 10px)}
}
.hB{background-color:rgba(0,0,0,.125)}
.hW{background-color:rgba(255,255,255,.125)}
.fW{word-break:break-all}
.exp{color:#ff0;background-color:#f00}
.pieul{list-style-type:none;margin:0;padding:0}
li>span.comCat:first-child{cursor:pointer}
.comCat::before{content:"➖";display:inline-block;margin-{FE_Align_Reverse}:6px;line-height:100%;cursor:pointer}
.caret-down::before{animation:forRotate .2s linear 1;animation-fill-mode:both}
.caret-up::before{animation:revRotate .2s linear 1;animation-fill-mode:both}
.suggestsInactive,.comSub{overflow:hidden;transform:scaleY(0);transform-origin:top;opacity:0;max-height:0;transition:all .5s ease-out}
.active{transform:scaleY(1);transform-origin:top;opacity:1;max-height:99999px;transition:all .3s ease-in}
.suggestsActive{transform:scaleY(1);font-style:italic;font-weight:700;transform-origin:top;opacity:1;max-height:64px;transition:all .3s ease-in}
blockquote.comSub{margin:-2px 0 0 0;padding:0 0 0 0}
.iCntr,.iLabl,.iCntn{display:block}
.iCntr{margin:16px 0 16px 0}
.iCntn{margin-{FE_Align}:42px}
@media only all and (max-width:968px) {
  .iCntn{margin:0}
}
@keyframes forRotate{0%{transform:rotate(0)}100%{transform:rotate({45deg})}}
@keyframes revRotate{0%{transform:rotate({45deg})}100%{transform:rotate(0)}}
.navicon{display:inline-block;background-repeat:no-repeat;filter:invert(23%) sepia(36%) saturate(1876%) hue-rotate(-27deg) brightness(96%) contrast(94%);position:relative;top:1px;width:16px;height:16px}
a:hover>.navicon,a:active>.navicon,a:focus>.navicon,.navicon[onclick]:hover,.navicon[onclick]:active,.navicon[onclick]:focus{filter:invert(43%) sepia(59%) saturate(1235%) hue-rotate(-30deg) brightness(115%) contrast(119%)}
select+input[type=submit],select+input[type=button]{margin-{FE_Align}:-3px;border-bottom-{FE_Align}-radius:0;border-top-{FE_Align}-radius:0;padding-{FE_Align}:3px}
select,input[type=submit],input[type=reset],input[type=button],input[type=file]::file-selector-button,input[type=text],input[type=password],input[type=number],input[type=date],input[type=time],input[type=datetime-local],button{box-sizing:border-box;height:20px;padding-top:0;padding-bottom:0}
select[class=auto]+select[class=auto]{margin-{FE_Align}:-3px;margin-{FE_Align_Reverse}:0}
#pgrad{width:16px;height:16px;display:inline-block;border-radius:16px;filter:blur(2px)}
td code~input,td code~select{vertical-align:middle}
.trEase{transition:all .5s ease-out}
.trEase>div{display:inline-block;transition:inherit}
.pipCntrs{display:inline-block;position:relative;left:0;width:12px;height:12px;transition:inherit}
.pipCntrs>img{display:inline-block;position:absolute;left:0;transition:inherit}
input[type=checkbox]+label,input[type=radio]+label,input[type=radio]+label,.gridboxitem>label,.gridboxitem input+strong{vertical-align:-2px;cursor:pointer}
.statGroup{display:inline-block;height:18px}
.gridHA:not(.gridVA,.gridVB,.gridboxstretch),.gridHB:not(.gridVA,.gridVB,.gridboxstretch){white-space:nowrap}
.configMatrixLabel,.vrte,.gridbox,.gridboxcheckcell{text-align:center}
.gridbox{display:grid;grid-template-columns:auto auto auto}
.gridboxitem,.gridboxcheckcell{height:19px}
.gridboxstretch{height:100%;white-space:normal}
.configMatrixLabel{height:auto;line-height:19px;font-weight:700}
.vrte,.vrto{vertical-align:-3px;font-weight:700}
.gridboxcheckcell{vertical-align:middle;margin:0;padding:auto}
.gridboxcheckcell>input[type=checkbox],.gridboxcheckcell>input[type=radio],.gridlabel>input[type=checkbox],.gridlabel>input[type=radio]{position:relative;top:1px}
.gridlabel{display:block;height:100%;width:100%}
.gridlabel:hover{background-color:rgba(255,255,255,.25);filter:brightness(1.25)}
.gridHA.vrte,.gridHA:not(.gridVA,.gridVB,.vrto){background:linear-gradient({90deg},rgba(0,0,0,.125) 0 40%,rgba(0,0,0,0) 80%)}
.gridHA.vrto{background:linear-gradient({90deg},rgba(0,0,0,.125) 0 25%,rgba(0,0,0,0) 50%)}
.gridHA.gridVA{background-color:rgba(0,0,0,.125)}
.gridHA.gridVB{background-color:rgba(85,110,127,.6)}
.gridVB:not(.gridHA){background-color:rgba(127,191,251,.7)}
.configMatrixLabel.gridVB{background:linear-gradient(0deg,rgba(127,191,251,.7),rgba(0,0,0,0))}
.warning::before,.warning::after{content:"⚠️";font-size:24px;display:inline;line-height:100%;position:relative;top:2px}
.warning{display:inline-block;margin:4px;font-weight:700;color:red;background:linear-gradient({90deg},rgba(255,192,0,0) 0,rgba(255,192,0,.8) 20% 80%,rgba(255,192,0,0) 100%);line-height:100%}
.gridlabel,.detailedSvgIcon{transition:all .2s ease-out}
.detailedSvgIcon{width:18px;height:19px}
.detailedSvgIcon,.translateIcon{transform:translate3d(-1px,-3px,-1px)}
.detailedSvgIcon:hover{filter:brightness(1.7) contrast(.8);cursor:pointer}
.copySvg:hover{filter:brightness(1.2);cursor:pointer}
.copyHind,.copyFore,.copyLine{stroke:#330;fill:#eee}
@keyframes sFadeFrames{0%{opacity:1}100%{opacity:0}}
.sHide{display:none}
.sFade{display:inline-block;margin-{FE_Align}:4px;animation:sFadeFrames .5s linear 1;animation-fill-mode:both}
.showlink::before,.shownlink::before,.unshownlink::before{content:"➖";display:inline-block;margin-{FE_Align_Reverse}:6px}
.shownlink::before{animation:forRotate .5s ease-out 1;animation-fill-mode:both}
.unshownlink::before{animation:revRotate .5s ease-out 1;animation-fill-mode:both}
.subNav{text-align:center;font-size:calc((10px * {magnification}) + .03vw);color:rgba(51,51,0,.6);text-shadow:2px 2px 1px rgba(0,0,0,.2)}
.fBlur{filter:contrast(.8) blur(.5px);transition:all .3s ease-out}
.fBlur:hover,.fBlur:active{filter:contrast(1) blur(0)}
input[type=button].reset{background:none;cursor:pointer;border:none;padding:0 12px 0 12px;margin:0;width:auto;color:red}
input[type=button].reset:hover,input[type=button].reset:active{color:#f88}
.tablend{margin-top:-2px}
.scaleXToZero{display:inline-block;overflow:hidden;transform:scaleX(0);transform-origin:{FE_Align};opacity:0;max-height:16px;max-width:0;transition:all .3s ease-out}
.scaleXToOne{display:inline-block;overflow:hidden;transform:scaleX(1);transform-origin:{FE_Align};opacity:1;max-height:16px;max-width:auto;transition:all .3s ease-in}
#logsTA{position:relative;top:-2px}
.navicon.accounts{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:accounts.svg}{/Base64Encode})}
.navicon.aggregator{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:aggregator.svg}{/Base64Encode})}
.navicon.auxiliary,.bckpicon.auxiliary{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxiliary.svg}{/Base64Encode})}
.navicon.backup{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:backup.svg}{/Base64Encode})}
.navicon.cache{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:cache.svg}{/Base64Encode})}
.navicon.calculator{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:calculator.svg}{/Base64Encode})}
.navicon.configuration,.bckpicon.configuration{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:configuration.svg}{/Base64Encode})}
.navicon.discussions{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:discussions.svg}{/Base64Encode})}
.navicon.documentation{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:documentation.svg}{/Base64Encode})}
.navicon.folder,input[type=file]::file-selector-button{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:folder.svg}{/Base64Encode})}
.navicon.heaven{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:heaven.svg}{/Base64Encode})}
.navicon.home{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:home.svg}{/Base64Encode})}
.navicon.intersector{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:intersector.svg}{/Base64Encode})}
.navicon.link{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:link.svg}{/Base64Encode})}
.navicon.logs{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:logs.svg}{/Base64Encode})}
.navicon.range{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:range.svg}{/Base64Encode})}
.navicon.rl{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:rl.svg}{/Base64Encode})}
.navicon.sections{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:sections.svg}{/Base64Encode})}
.navicon.statistics,.bckpicon.statistics{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:statistics.svg}{/Base64Encode})}
.navicon.subtractor{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:subtractor.svg}{/Base64Encode})}
.navicon.test{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:test.svg}{/Base64Encode})}
.navicon.tracking,.bckpicon.tracking{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:tracking.svg}{/Base64Encode})}
.navicon.updates,.bckpicon.updates{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:updates.svg}{/Base64Encode})}
::selection{background-color:rgba(0,102,204,.6);color:#fff}
.txtGn::selection,.txtGn>*:not(.txtOe,.txtRd)::selection{color:#dfc}
.txtOe::selection,.txtOe>*:not(.txtGn,.txtRd)::selection{color:#fec}
.txtRd::selection,.txtRd>*:not(.txtGn,.txtOe)::selection{color:#fcc}
.canBreak{white-space:normal;overflow-wrap:break-word;word-break:break-all}
input[type=button],input[type=file]::file-selector-button,input[type=checkbox],input[type=checkbox]+label,input[type=radio],input[type=radio]+label,input[type=reset],input[type=submit],span>span[onclick],li>span[onclick],.navicon[onclick]{cursor:pointer}
input[disabled],input[disabled]+label{cursor:not-allowed}
.toolTip{cursor:help}
.flexrow{display:flex}
.flexin{margin-{FE_Align}:-1px;margin-{FE_Align_Reverse}:1px;width:auto;flex-grow:1}
.auxicon{display:inline-block;background-repeat:no-repeat;position:relative;top:1px;width:12px;height:12px}
.auxbl,.hoverglow{filter:invert(17%) sepia(41%) saturate(1027%) hue-rotate(23deg) brightness(99%) contrast(101%)}
.hoverglow:hover,.hoverglow:active,.hoverglow:focus{filter:invert(39%) sepia(69%) saturate(307%) hue-rotate(-19deg) brightness(96%) contrast(96%)}
.auxgn{filter:invert(31%) sepia(96%) saturate(1280%) hue-rotate(92deg) brightness(99%) contrast(107%)}
.auxrd{filter:invert(12%) sepia(86%) saturate(7400%) hue-rotate(2deg) brightness(109%) contrast(114%)}
.xscroller{overflow-x:auto}
.auxicon.delete{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxdelete.svg}{/Base64Encode})}
.auxicon.down1{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxdown1.svg}{/Base64Encode})}
.auxicon.down2{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxdown2.svg}{/Base64Encode})}
.auxicon.export{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxexport.svg}{/Base64Encode})}
.auxicon.pause{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxpause.svg}{/Base64Encode})}
.auxicon.play{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxplay.svg}{/Base64Encode})}
.auxicon.up1{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxup1.svg}{/Base64Encode})}
.auxicon.up2{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:auxup2.svg}{/Base64Encode})}
.auxicontxt{padding:0 3px 0 3px}
.bckpicon{display:inline-block;width:16px;height:16px}
.bckpicon.import{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:import.svg}{/Base64Encode})}
.bckpicon.export{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:export.svg}{/Base64Encode})}
.bckpicon.compress{background-image:url(data:image/svg+xml;base64,{Base64Encode}{Asset:compress.svg}{/Base64Encode})}
.bckpicon.statistics{position:relative;top:-1px}
input[type=file]::file-selector-button{padding-{FE_Align}:20px;background-repeat:no-repeat;background-position:top 1px {FE_Align} 4px}
