general:
 logfile: ""
 logfile_apache: ""
 logfile_serialized: ""
 error_log: ""
 stages: |
  Tests:Enable
  Tests:LogErrors
  Modules:Enable
  Modules:LogErrors
  Modules:Tracking
  SearchEngineVerification:Enable
  SearchEngineVerification:LogErrors
  SearchEngineVerification:Tracking
  SocialMediaVerification:Enable
  SocialMediaVerification:LogErrors
  SocialMediaVerification:Tracking
  OtherVerification:Enable
  OtherVerification:LogErrors
  OtherVerification:Tracking
  Aux:Enable
  Aux:LogErrors
  Aux:Tracking
  Reporting:Enable
  Reporting:LogErrors
  Tracking:Enable
  Tracking:LogErrors
  RL:Enable
  RL:LogErrors
  CAPTCHA:Enable
  CAPTCHA:LogErrors
  Statistics:Enable
  Statistics:LogErrors
  Webhooks:Enable
  Webhooks:LogErrors
  PrepareFields:Enable
  PrepareFields:LogErrors
  Output:Enable
  Output:LogErrors
  WriteLogs:Enable
  WriteLogs:LogErrors
  Terminate:Enable
  Terminate:LogErrors
  AuxRedirect:Enable
  AuxRedirect:LogErrors
  NonBlockedCAPTCHA:Enable
  NonBlockedCAPTCHA:LogErrors
 fields: |
  ID:ShowInLogs
  ID:ShowInPageOutput
  ScriptIdent:ShowInLogs
  ScriptIdent:ShowInPageOutput
  DateTime:ShowInLogs
  DateTime:ShowInPageOutput
  IPAddr:ShowInLogs
  IPAddr:ShowInPageOutput
  IPAddrResolved:ShowInLogs
  IPAddrResolved:ShowInPageOutput
  IPAddrResolved:OmitIfEmpty
  Query:ShowInLogs
  Query:ShowInPageOutput
  Query:OmitIfEmpty
  Referrer:ShowInLogs
  Referrer:ShowInPageOutput
  Referrer:OmitIfEmpty
  UA:ShowInLogs
  UA:ShowInPageOutput
  UA:OmitIfEmpty
  UALC:OmitIfEmpty
  SignatureCount:ShowInLogs
  SignatureCount:ShowInPageOutput
  Signatures:ShowInLogs
  Signatures:ShowInPageOutput
  WhyReason:ShowInLogs
  WhyReason:ShowInPageOutput
  ReasonMessage:ShowInPageOutput
  ReasonMessage:OmitIfEmpty
  rURI:ShowInLogs
  rURI:ShowInPageOutput
  rURI:OmitIfEmpty
  Infractions:ShowInLogs
  ASNLookup:ShowInLogs
  ASNLookup:OmitIfEmpty
  CCLookup:ShowInLogs
  CCLookup:OmitIfEmpty
  Verified:ShowInLogs
  Verified:OmitIfEmpty
  Expired:OmitIfEmpty
  Ignored:OmitIfEmpty
  Request_Method:ShowInLogs
  Request_Method:OmitIfEmpty
  Hostname:ShowInLogs
  Hostname:ShowInPageOutput
  Hostname:OmitIfEmpty
  CAPTCHA:ShowInLogs
  CAPTCHA:OmitIfEmpty
 truncate: "0KB"
 log_rotation_limit: 0
 log_rotation_action: "Delete"
 timezone: "SYSTEM"
 time_offset: 0
 time_format: "{Day}, {dd} {Mon} {yyyy} {hh}:{ii}:{ss} {tz}"
 ipaddr: "REMOTE_ADDR"
 http_response_header_code: 403
 silent_mode: ""
 lang: "en"
 lang_override: true
 numbers: "Latin-1"
 emailaddr: ""
 emailaddr_display_style: "default"
 disable_frontend: false
 signatures_update_event_log: ""
 ban_override: 200
 log_banned_ips: true
 default_dns: "8.8.8.8,8.8.4.4"
 search_engine_verification: |
  Applebot:Verify
  Applebot:BlockNegatives
  Applebot:UntrackPositives
  Baidu:Verify
  Baidu:BlockNegatives
  Baidu:UntrackPositives
  Bingbot:Verify
  Bingbot:BlockNegatives
  Bingbot:SingleHitBypass
  Bingbot:UntrackPositives
  DuckDuckBot:Verify
  DuckDuckBot:BlockNegatives
  DuckDuckBot:SingleHitBypass
  DuckDuckBot:UntrackPositives
  Googlebot:Verify
  Googlebot:BlockNegatives
  Googlebot:UntrackPositives
  MojeekBot:Verify
  MojeekBot:BlockNegatives
  MojeekBot:UntrackPositives
  PetalBot:Verify
  PetalBot:BlockNegatives
  PetalBot:UntrackPositives
  Qwantify:Verify
  Qwantify:BlockNegatives
  Qwantify:UntrackPositives
  SeznamBot:Verify
  SeznamBot:BlockNegatives
  SeznamBot:UntrackPositives
  Sogou:Verify
  Sogou:BlockNegatives
  Sogou:UntrackPositives
  Yahoo:Verify
  Yahoo:BlockNegatives
  Yahoo:UntrackPositives
  Yandex:Verify
  Yandex:BlockNegatives
  Yandex:UntrackPositives
  YoudaoBot:Verify
  YoudaoBot:BlockNegatives
  YoudaoBot:UntrackPositives
 social_media_verification: |
  Embedly:Verify
  Embedly:BlockNegatives
  Facebook:Verify
  Facebook:BlockNegatives
  Facebook:UntrackPositives
  Pinterest:Verify
  Pinterest:BlockNegatives
  Pinterest:UntrackPositives
  Twitterbot:Verify
  Twitterbot:BlockNegatives
  Twitterbot:UntrackPositives
 other_verification: |
  AdSense:Verify
  AdSense:BlockNegatives
  AdSense:UntrackPositives
  AmazonAdBot:Verify
  AmazonAdBot:BlockNegatives
  AmazonAdBot:SingleHitBypass
  AmazonAdBot:UntrackPositives
  Grapeshot:Verify
  Grapeshot:BlockNegatives
  Grapeshot:UntrackPositives
 protect_frontend: true
 default_algo: "PASSWORD_DEFAULT"
 statistics: |
  Blocked-IPv4
  Blocked-IPv6
  Blocked-Other
  Banned-IPv4
  Banned-IPv6
  CAPTCHAs-Failed
  CAPTCHAs-Passed
 force_hostname_lookup: false
 allow_gethostbyaddr_lookup: true
 log_sanitisation: false
 disabled_channels: ""
 default_timeout: 12
 config_imports: "bypasses.yml"
 events: ""
frontend:
 frontend_log: ""
 max_login_attempts: 5
 theme: "default"
 magnification: 1
 remotes: |
  https://raw.githubusercontent.com/CIDRAM/CIDRAM/v3/vault/installed.yml
  https://raw.githubusercontent.com/CIDRAM/CIDRAM-Extras/master/modules/modules.yml
signatures:
 ipv4: "ipv4.dat,ipv4_bogons.dat,ipv4_isps.dat,ipv4_nonblocking.dat,ipv4_other.dat"
 ipv6: "ipv6.dat,ipv6_bogons.dat,ipv6_isps.dat,ipv6_nonblocking.dat,ipv6_other.dat"
 block_attacks: true
 block_cloud: true
 block_bogons: false
 block_generic: true
 block_legal: true
 block_malware: true
 block_proxies: false
 block_spam: true
 modules: ""
 default_tracktime: 604800
 infraction_limit: 10
 tracking_override: true
recaptcha:
 usemode: 0
 lockip: false
 lockuser: true
 sitekey: ""
 secret: ""
 expiry: 720
 logfile: ""
 signature_limit: 1
 api: "V2"
 show_cookie_warning: true
 show_api_message: true
 nonblocked_status_code: 200
hcaptcha:
 usemode: 0
 lockip: false
 lockuser: true
 sitekey: ""
 secret: ""
 expiry: 720
 logfile: ""
 signature_limit: 1
 api: "V1"
 show_cookie_warning: true
 show_api_message: true
 nonblocked_status_code: 200
legal:
 pseudonymise_ip_addresses: true
 privacy_policy: ""
template_data:
 theme: "default"
 magnification: 1
 css_url: ""
 block_event_title: "CIDRAM"
 captcha_title: "CIDRAM"
PHPMailer:
 event_log: ""
 skip_auth_process: false
 enable_two_factor: false
 host: ""
 port: 587
 smtp_secure: "default"
 smtp_auth: true
 username: ""
 password: ""
 set_from_address: ""
 set_from_name: ""
 add_reply_to_address: ""
 add_reply_to_name: ""
rate_limiting:
 max_bandwidth: "0KB"
 max_requests: 0
 precision_ipv4: 32
 precision_ipv6: 128
 allowance_period: 0
 exceptions: ""
supplementary_cache_options:
 prefix: "CIDRAM_"
 enable_apcu: true
 enable_memcached: false
 enable_redis: false
 enable_pdo: false
 memcached_host: "localhost"
 memcached_port: 11211
 redis_host: "localhost"
 redis_port: 6379
 redis_timeout: 2.5
 pdo_dsn: "mysql:dbname=cidram;host=localhost;port=3306"
 pdo_username: ""
 pdo_password: ""
user.admin:
 password: "$2y$10$FPF5Im9MELEvF5AYuuRMSO.QKoYVpsiu1YU9aDClgrU57XtLof/dK"
 permissions: 1
